@keyframes slidinggradient
{
  0%   {background-position: 0 150%;}
  100% {background-position: 0 -50%;}
}

.mainmenuwrapper .rightmenu,
.mainmenuwrapper .mainmenufooter
{
  display: none !important;
}

.mainmenuwrapper .leftmenu .activitymenu
{
  left: 76px !important;
  width: 518px !important;
}

.mainmenuwrapper .leftmenu .activitymenu .pmbox
{
  width: 100% !important;
}

.teampane,
.teamchartbox,
.teamwrapper,
.folderpane .folder.cur .selectFolder,
.folderpane .folder.cur .selectFolder:hover
{
  background: rgba(255, 255, 255, 0.5) !important;
}

.ladder table,
.ladder td,
.ladder th
{
  border: 1px solid #00EEFF !important;
  box-shadow: inset 0 0 2px #00EEFF !important
}

.ladder th
{
  background: #00FFEA !important;
  padding: 5px !important;
  color: #000 !important;
}

.ladder td
{
  background: none !important;
  color: #EEE !important;
}

.ladder h3
{
  text-shadow: 0 0 5px #FFF !important;
}

.mainmenuwrapper .leftmenu .mainmenu
{
  transition: left .5s ease-in .42s !important;
  position: relative !important;
  left: -88.89% !important;
  height: 484px !important;
  padding: 15px 0 0 0 !important;
  border: solid 3px #1E5480 !important;
  border-radius: 0 11% 11% 0 !important;
  border-left: none !important;
  background: #07151E !important;
  box-shadow: inset 0 0 3px #A5F2FC, inset 0 0 9px #1E5480, 0 0 3px #60E0FB, 0 0 5px #1E5480 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.mainmenuwrapper .leftmenu .mainmenu:hover
{
  transition: left .5s ease-out 0s !important;
  left: -2% !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup
{
  background: none !important;
  width: 70% !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3)
{
  flex: 0 0 222px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4)
{
  transform: rotate(270deg) !important;
  transform-origin: 0 0 !important;
  position: absolute !important;
  left: 4% !important;
  top: 454px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 412px !important;
  width: 412px !important;
  height: 21px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform
{
  position: absolute !important;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist
{
  display: flex !important;
  justify-content: center !important;
  align-items: stretch !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist div
{
  flex: 1 1 200px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  min-width: 20px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist div .ilink
{
  transition: all .3s ease-in-out !important;
  background: #1E5480 !important;
  border: 1px solid #1E5480 !important;
  color: #07151E !important;
  text-shadow: 0 0 2px #A5F2FC !important;
  font-weight: bold !important;
  box-shadow: inset 0 0 11px rgba(165, 242, 252, 0) !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist div:nth-last-child(even) .ilink
{
  background: #5E1E80 !important;
  border: 1px solid #5E1E80 !important;
  box-shadow: inset 0 0 11px rgba(193, 166, 252, 0) !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist div .ilink:hover
{
  transition: all .22s ease-in-out !important;
  color: #000 !important;
  border-color: #CCC !important;
  box-shadow: inset 0 0 11px rgba(165, 242, 252, .75) !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform .roomlist div:nth-last-child(even) .ilink:hover
{
  box-shadow: inset 0 0 11px rgba(193, 166, 252, .75) !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(4),
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(4)+p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(4)+p+p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(5),
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(5)+p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(5)+p+p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:first-child:nth-last-child(5)+p+p+p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform p:first-child,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(4) .battleform p.buttonbar
{
  display: none !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform
{
  flex: 1 0 42px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100% !important;
  color: #1E5480 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform p:first-child
{
  flex: 0 0 47px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform p:nth-child(2)
{
  flex: 0 0 65px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform p:nth-child(3)
{
  flex: 0 0 54px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform p:nth-child(4),
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform p:nth-child(5)
{
  flex: 1 0 22px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform .label,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select.formatselect,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select.teamselect
{
  text-align: center !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select.teamselect strong
{
  color: #EEE !important;
  margin: auto !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select.teamselect small
{
  display: flex !important;
  justify-content: space-around !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select.teamselect small .picon
{
  flex: 0 0 40px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select
{
  position: relative !important;
  overflow: hidden !important;
  border-color: #1E5480 !important;
  box-shadow: 0 0 3px #60E0FB, 0 0 5px #1E5480 !important;
  color: #EEE !important;
  background: none !important;
  width: 100% !important;
  margin: 3px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.disabled,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button:disabled
{
  border: none !important;
  box-shadow: none !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select:after
{
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
  content: "";
  background: #FFF;
  opacity: .2;
  position: absolute;
  height: 155px;
  width: 50px;
  left: -75px;
  top: -50px;
  transform: rotate(35deg);
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.select:hover:after
{
  left: 120%;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button.disabled:hover:after,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) .battleform button:disabled:hover:after
{
  left: -75px;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button br,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button small
{
  display: none !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(2),
.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child
{
  flex: 0 0 108px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(2) p,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child p
{
  flex: 1 1 30px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="reconnect"],
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="cancelSearch"],
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(2) p button,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child p button
{
  transition: all .35s ease-in-out !important;
  flex: 1 1 30px !important;
  text-align: center !important;
  width: auto !important;
  margin: 0 auto !important;
  padding: 0 !important;
  background: linear-gradient(#07151E, #390079, #004C81, #07151E) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 300% !important;
  background-position: 0 150% !important;
  border: none !important;
  border-radius: 0 !important;
  color: #1E5480 !important;
  text-shadow: 1px 0 1px #3F9ABE !important;
  box-shadow: none !important;
  font-size: 18px !important;
  letter-spacing: 0 !important;
  font-weight: 500 !important;
  overflow: hidden !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="reconnect"]
{
  font-size: 24px !important;
  font-weight: 600 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="cancelSearch"]
{
  color: #EEE !important;
  text-shadow: none !important;
  font-size: 22px !important;
  font-weight: 550 !important;
  animation: slidinggradient .85s linear infinite;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="cancelSearch"]:after
{
  content: " Search";
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button
{
  background: linear-gradient(#07151E, #796A00, #810000, #07151E) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 300% !important;
  background-position: 0 150% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button strong
{
  flex: 1 1 60px !important;
  line-height: 54px !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:before
{
  transition: all .35s linear;
  transform: translateX(-54px) rotate(-90deg) scaleX(-1);
  transform-origin: 100% 100%;
  flex: 0 0 54;
  content: "";
  width: 54px;
  height: 54px;
  float: left;
  background: url("https://s13.postimg.org/6o6w9vp4n/Battle_Icon.png") center no-repeat;
  background-size: cover;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:hover:before
{
  transition: all .3s linear;
  transform: translateX(-54px) rotate(0deg) scaleX(-1);
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:after
{
  transition: all .35s linear;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  flex: 0 0 54;
  content: "";
  width: 54px;
  height: 54px;
  float: right;
  background: url("https://s13.postimg.org/6o6w9vp4n/Battle_Icon.png") center no-repeat;
  background-size: cover;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:hover:after
{
  transition: all .3s linear;
  transform: rotate(0);
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="reconnect"]:hover,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="cancelSearch"]:hover,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:hover,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(2) p button:hover,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child p button:hover
{
  transition: all .3s ease-in-out !important;
  color: #EEE !important;
  text-shadow: 1px 0 0 #3F9ABE !important;
  letter-spacing: 4px !important;
  font-weight: 700 !important;
  animation: slidinggradient .85s linear infinite;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="reconnect"]:hover
{
  font-weight: 800 !important;
  letter-spacing: 5px !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) button[name="cancelSearch"]:hover
{
  background: linear-gradient(#07151E, #796A00, #810000, #07151E) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 300% !important;
  background-position: 0 150% !important;
  letter-spacing: 5px !important;
  font-weight: 750 !important;
  animation: slidinggradient .85s linear infinite;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button:hover strong
{
  font-weight: 700 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child p button.disabled,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button.disabled
{
  background: none !important;
  color: #0D2637 !important;
  text-shadow: -1px -1px 1px #000 !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:last-child p button.disabled:hover,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button.disabled:hover
{
  color: #0D2637 !important;
  text-shadow: -1px -1px 1px #000 !important;
  letter-spacing: 0 !important;
  font-weight: 500 !important;
  animation: none;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button.disabled
{
  font-style: normal !important;
  line-height: 54px !important;
  text-align: center !important;
}

.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button.disabled:before,
.mainmenuwrapper .leftmenu .mainmenu .menugroup:nth-last-child(3) p:nth-child(3) button.disabled:after
{
  background: none !important;
}